In [1]:
%%time
import random
from math import exp, sqrt

S0 = 100
r = 0.05
T = 1.0
sigma = 0.2 

values = []

for _ in range(1000000):
    ST = S0 * exp((r - 0.5 * sigma ** 2 ) * T + sigma * random.gauss(0,1) * sqrt(T))
    values.append(ST)

CPU times: user 1.53 s, sys: 26.5 ms, total: 1.55 s
Wall time: 1.56 s

In [1]:
%%time
import numpy as np

S0 = 100
r = 0.05
T = 1.0
sigma = 0.2 

ST = S0 * np.exp((r - 0.5 * sigma ** 2) * T + sigma * np.random.standard_normal(1000000) * np.sqrt(T))

CPU times: user 49.1 ms, sys: 10.8 ms, total: 59.9 ms
Wall time: 65.8 ms

In [5]:
%matplotlib inline
from pylab import mpl, plt
plt.style.use('seaborn')
mpl.rcParams['savefig.dpi'] = 300
mpl.rcParams['font.family'] = 'serif'


import configparser
c = configparser.ConfigParser()
c.read('conf.cfg')

import nasdaqdatalink 
nasdaqdatalink.ApiConfig.api_key = c['nasdaq']['api']
d = nasdaqdatalink.get('BCHAIN/MKPRU')
d['SMA'] = d['Value'].rolling(100).mean()
d.loc['2013-1-1': ].plot(title = 'BTC/USD Exchange Rate', figsize=(10,6))

               Value
Date
2009-01-02      0.00
2009-01-03      0.00
2009-01-04      0.00
2009-01-05      0.00
2009-01-06      0.00
...              ...
2022-08-09  23816.32
2022-08-10  23156.31
2022-08-11  23959.92
2022-08-12  23953.77
2022-08-13  24418.38

[4972 rows x 1 columns]